$color: rgb(255, 198, 92);
$font: "Visby CF Medium", sans-serif;
$color-opacity-yellow: rgba(255, 198, 92, 0.8);
$color-opacity-green: rgba(0, 165, 88, 0.8);
$color-opacity-purple: rgba(156, 0, 156, 0.8);
$color-opacity-red: rgba(255, 0, 0, 0.8);
